---
import H1 from "../components/h1.astro";
import InfoLayout from "../layouts/InfoLayout.astro";
---

<InfoLayout>
     <div class="px-10 sm:px-16 md:px-24 lg:px-32 py-20 min-h-dvh flex flex-col justify-center items-center gap-25">
          <div class="space-y-4 sm:space-y-12">
               <H1> Get to know faceLAPSE </H1>

               <p class="text-xl xl:text-2xl text-zinc-500 text-balance">
                    <a href="/facelapse" class="underline underline-offset-4 decoration-zinc-400 text-zinc-50 hover:decoration-zinc-200">
                         faceLAPSE
                    </a>
                    Watch Your Story Unfold, One Day at a Time. Have you ever wondered how much you change over a month, a year, or even a decade? Life moves fast, and the small, everyday changes are impossible to see until you look back.
                    <br />
                    faceLAPSE is a simple, dedicated, and fun app built for one purpose: to help you create a <strong>beautiful time-lapse video of your own life</strong>.
               </p>
          </div>

          <div class="space-y-2 text-base sm:text-lg">
               <h2 class="px-4 text-zinc-300 underline underline-offset-4 decoration-zinc-500">Key Features</h2>

               <ul class="px-4 text-zinc-300 list-disc list-outside">
                    <li>Secure & Private Journal: Your photos are your story. All your selfies are saved in a private, organized calendar right on your device.</li>
                    <li>Instant Time-Lapse Video: This is where the magic happens! With one tap, the app sorts all your photos by date and stitches them together into a stunning, high-quality video.</li>
                    <li>Export & Share: Watch your evolution unfold and easily save or share your time-lapse video with friends and family. See a year's worth of change in just a few seconds!</li>
                    <li>Track Your Journey: More than just selfies, <a href="/facelapse" class="underline underline-offset-4 decoration-zinc-400 text-zinc-50 hover:decoration-zinc-200">
                         faceLAPSE
                    </a> is perfect for tracking any personal journey :</li>
                    <ol class="list-decimal list-inside pt-2">
                         <li>Fitness or body transformation</li>
                         <li>Growing out a beard or new hairstyle</li>
                         <li>Documenting a pregnancy</li>
                         <li>Or just the simple, beautiful act of growing every day!</li>
                    </ol>
               </ul>
          </div>
     </div>
</InfoLayout>
